<%- include('../layouts/header',{meta:meta}) %>


  <%- include('../layouts/mapview', {query: p?.controller?.get?.query, controller: p?.controller}) %>

  <!-- end hero -->
  <!-- adress -->
  <div id="viewothermapportal"></div>
  <!-- adress -->
  <div id="adressView" class="adress"><%- p['controller']['resultsHtml'] %></div>
  <!-- adress -->

  <link rel="stylesheet" href="./assets/leaflet.css" crossorigin="" />
  <script src="./assets/leaflet.js" crossorigin=""></script>
  
  <script> 
    var data = <%- JSON.stringify(p['controller']['results']['data']) %>; 
    for(var key in data){
      var value = data[key]
      PageScript.Places[key] = value; 
    }  

    PageScript.viewOnMap(0)
  </script>
  <style>
    .search-result{
      padding:10px 0;
      min-height:100%;
    }
  </style>

  
<%- include('../layouts/footer') %>